<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}رِنـــان - TTS Model{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo/renan_logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("{{ url_for('header') }}")
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-placeholder').innerHTML = data;
                });
        });
    </script>
</head>

<body>
    <div id="header-placeholder"></div>
    <div id="main" class="content active">
        <div class="main-content">
            <div class="main-text">
                <span>
                    اختر ما يناسبك لإنشاء تعليقك الصوتي
                </span>
                <div class="buttons-container">
                    <button onclick="location.href='{{ url_for('speech_only_gen_page') }}'"
                        class="main-button secondary-button">لدي نصي الخاص</button>
                    <button onclick="location.href='{{ url_for('text_speech_gen_page') }}'"
                        class="main-button primary-button">ليس لدي نص وأود إنشاء نص جديد</button>
                </div>

            </div>
            <div class="main-img">
                <img src="../static/images/Main_Page/main_women.png" alt="Women" class="fade-image">
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("{{ url_for('footer') }}")
                .then(response => response.text())
                .then(data => {
                    document.body.insertAdjacentHTML('beforeend', data);
                });
        });
    </script>
</body>


</html>